@import "imported";

/** @vanilla-cli-placeholder: _variables.scss **/

$variableOverriddenByChild: "DEFAULT_VARIABLE" !default;
$variableNotOverriddenByChild: "NOT_OVERRIDABLE_VARIBALE";

.test {
    content: $variableOverriddenByChild;
    content: $variableNotOverriddenByChild;
}

/** @vanilla-cli-placeholder: _custom.scss **/
