@import "vendor";

/** @vanilla-cli-placeholder: _variables.scss **/

$to-override-by-parent: red !default;
$parent-theme-variable: 24px;

.red-selector {
    background: $test-color;
    font-size: $child-theme-variable;
}

/** @vanilla-cli-placeholder: _custom.scss **/
